/* UC1--Page header */
body {
    margin: 0;
    height: 100%;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
}

.header {
    padding: 15px 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 82%;
}

.logo-content-img {
    border: solid 0px #42515f;
    size: 15px 15px;
    margin-right: 10px;
    width: 4%;
}

.address-text {
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: uppercase;
}

.address-text-color {
    color: #008CFF;
}

* {
    box-sizing: border-box;
}


/* UC2--form header */
.form-content {
    min-height: calc(100%-80px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
}

.form {
    width: 65%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: 1;
}

.form-head {
    background: #008CFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    opacity: 1;
}

.form-header-text {
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: white;
    text-transform: uppercase;
    margin-left: 30%;
}

.cancelButton {
    align-items: flex-end;
    margin-left: 240px;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 24px;
}

/* UC3 Form fields */
.row-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 40px;
    align-items: flex-start;
}

.column-content {
    display: flex;
    flex-direction: row;
    width: auto;
    flex-wrap: nowrap;
    flex-grow: unset;
    flex-shrink: unset;
    align-items: flex-start;
}

.label {
    padding: 12px 12px 6px 0px;
    display: inline-block;
}

.text {
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
    opacity: 1;
}

.input {
    width: 95%;
    height: 35px;
    margin-right: 20%;
    padding: 12px 12px 12px 12px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;

}

.input-drop {
    width: 237px;
    height: 35px;
    margin-right: 20%;
    padding: 1px 12px 1px 12px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;

}

.buttonParent {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: inherit;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-right: 40px;
    justify-content: flex-end;
}

.button {
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    margin-left: 40px;
    width: 160px;
    height: 45px;
    text-align: center;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
    opacity: 1;
}